body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('./windows-xp-bliss-4k-lu-1920x1080.jpg');
  }
  
  .App {
      font-family: Arial, sans-serif;
      text-align: center;
      padding: 20px;
      background-color: #f0f0f0;
    }
  
  .App h1 {
      color: #333;
      margin-bottom: 10px;
    }
  
  .App button {
      background-color: #4CAF50;
      color: #fff;
      padding: 10px 15px;
      border: none;
      border-radius: 10px;
      cursor: pointer;
    }
  
  .App button:hover {
      background-color: #3e8e41;
    }
  
  .App .password {
      font-size: 18px;
      font-weight: bold;
      margin-top: 30px;
    }
  
  .App .copy-button {
      background-color: #007bff;
      margin-left: 15px;
    }
  
  .App .copy-button:hover {
      background-color: #0069d9;
    }
  
  .App .copy-text {
      font-size: 15px;
      color: #666;
      margin-left: 15px;
    }